<template>
  <div class="home">
    <!-- Main chat display area -->
    <main-chat-area/>

    <!-- Footer -->
    <footer-vue/>

    <!-- Notification -->
    <notification-vue/>
  </div>
</template>

<script>
import MainChatArea from '@/components/dashboard/MainChatArea'
import FooterVue from '@/components/dashboard/Footer'
import NotificationVue from '@/components/dashboard/Notification'
import { authMixin } from '@/mixins/authMixin'

export default {
  mixins: [authMixin],
  components: {
    MainChatArea,
    FooterVue,
    NotificationVue
  }
}
</script>

<style scoped>
.text-align-end-custom {
  width: 100% !important;
  text-align: right;
}
</style>
