<template>
  <div class="login">
    <v-container class="my-5">
      <v-layout row justify-center>
        <v-flex xs12 sm10 md8 lg6>
          <v-card flat>
            <v-card-title class="px-5 pt-5">
              <h2 class="font-weight-light text-uppercase primary--text">Login</h2>
            </v-card-title>

            <v-card-text class="px-5 pb-5">
              <v-form ref="loginForm" @submit="submitForm">
                <v-text-field
                  v-model="username"
                  label="Username"
                  prepend-icon="account_box"
                  :rules="inputRules"
                />
                <v-text-field
                  v-model="password"
                  type="password"
                  label="Password"
                  prepend-icon="vpn_key"
                  :rules="inputRules"
                />
                <p class="text-xs-right">
                  <a class="font-weight-bold warning--text">Forgot your password?</a>
                </p>
                <v-btn
                  type="submit"
                  block
                  ripple
                  :loading="loading"
                  large
                  flat
                  dark
                  class="primary ma-0 mt-5"
                  @click.prevent.stop="submitForm"
                >
                  <v-icon left>fast_forward</v-icon>
                  <span>Login</span>
                </v-btn>
              </v-form>

              <!-- Error message snackbar -->
              <v-snackbar
                v-model="showErrorMessage"
                color="error"
                :bottom="true"
                :right="true"
                :timeout="6000"
                :vertical="true"
              >
                <span class="text-uppercase">{{ errorMessage }}</span>
                <v-btn flat @click="showErrorMessage = false">Close</v-btn>
              </v-snackbar>
            </v-card-text>
          </v-card>

          <p class="text-xs-center mt-5">
            <router-link class="font-weight-bold primary--text" to="/signup">Create account ?</router-link>
          </p>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { authMixin } from '@/mixins/authMixin'

export default {
  mixins: [authMixin],
  data () {
    return {
      username: '',
      showErrorMessage: false,
      password: '',
      inputRules: [
        v => {
          return v.length > 0 || 'Please enter some value'
        }
      ]
    }
  },
  computed: {
    ...mapGetters('authModule', {
      loading: 'getLoading',
      errorMessage: 'getErrorMessage'
    })
  },
  methods: {
    ...mapActions('authModule', {
      login: 'login'
    }),
    submitForm () {
      if (this.$refs.loginForm.validate()) {
        const username = this.username.trim()
        const password = this.password.trim()

        const request = {
          username,
          password
        }

        const requestData = JSON.stringify(request)
        this.login(requestData)
      }
    }
  },
  watch: {
    errorMessage (value) {
      if (value) {
        this.showErrorMessage = true
      } else {
        this.showErrorMessage = false
      }
    }
  }
}
</script>
