<template>
  <div class="login">
    <v-container class="my-5">
      <v-layout row justify-center>
        <v-flex xs12 sm10 md8 lg6>
          <v-card flat>
            <v-card-title class="px-5 pt-5">
              <h2 class="font-weight-light text-uppercase primary--text">Signup</h2>
            </v-card-title>

            <v-card-text class="px-5 pb-5">
              <v-form ref="signupForm" @submit="submitForm">
                <v-layout row wrap>
                  <v-flex xs12 lg6>
                    <v-text-field
                      label="First Name"
                      v-model="firstName"
                      prepend-icon="person"
                      :rules="nameRule"
                      :validate-on-blur="validateOnBlur"
                    />
                  </v-flex>
                  <v-flex xs12 lg6>
                    <v-text-field
                      label="Last Name"
                      v-model="lastName"
                      prepend-icon="person"
                      :rules="nameRule"
                      :validate-on-blur="validateOnBlur"
                    />
                  </v-flex>
                </v-layout>
                <v-text-field
                  label="Username"
                  v-model="username"
                  prepend-icon="account_box"
                  :rules="usernameAndPasswordRule"
                  :validate-on-blur="validateOnBlur"
                />
                <v-text-field
                  type="password"
                  v-model="password"
                  label="Password"
                  prepend-icon="vpn_key"
                  :rules="usernameAndPasswordRule"
                  :validate-on-blur="validateOnBlur"
                />
                <v-btn
                  type="submit"
                  block
                  ripple
                  :loading="loading"
                  large
                  flat
                  dark
                  class="primary ma-0 mt-5"
                  @click.stop.prevent="submitForm"
                >
                  <v-icon left>fast_forward</v-icon>
                  <span>Signup</span>
                </v-btn>
              </v-form>

              <!-- Error message snackbar -->
              <v-snackbar
                v-model="showErrorMessage"
                color="error"
                :bottom="true"
                :right="true"
                :timeout="6000"
                :vertical="true"
              >
                <span class="text-uppercase">{{ errorMessage }}</span>
                <v-btn flat @click="showErrorMessage = false">Close</v-btn>
              </v-snackbar>
            </v-card-text>
          </v-card>

          <p class="text-xs-center mt-5">
            <router-link
              class="font-weight-bold primary--text"
              to="/login"
            >Already have an account ?</router-link>
          </p>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { authMixin } from '@/mixins/authMixin'

export default {
  mixins: [authMixin],
  data () {
    return {
      firstName: '',
      lastName: '',
      username: '',
      showErrorMessage: false,
      password: '',
      validateOnBlur: true,
      nameRule: [
        v => {
          return (
            (v.trim().length > 3 && v.match(/^[A-Za-z]+$/) !== null) ||
            'Please enter a valid name. Greater than 3 characters and no numbers'
          )
        }
      ],
      usernameAndPasswordRule: [
        v => {
          return v.trim().length > 4 || 'Has to be more than 4 characters'
        }
      ]
    }
  },
  computed: {
    ...mapGetters('authModule', {
      loading: 'getLoading',
      errorMessage: 'getErrorMessage'
    })
  },
  methods: {
    ...mapActions('authModule', {
      signup: 'signup'
    }),
    submitForm () {
      this.validateOnBlur = false
      if (this.$refs.signupForm.validate()) {
        const firstName = this.firstName.trim()
        const lastName = this.lastName.trim()
        const username = this.username.trim()
        const password = this.password.trim()

        const request = {
          name: { firstName, lastName },
          username,
          password
        }

        const requestData = JSON.stringify(request)
        this.signup(requestData)
      }
    }
  },
  watch: {
    errorMessage (value) {
      if (value) {
        this.showErrorMessage = true
      } else {
        this.showErrorMessage = false
      }
    }
  }
}
</script>
