<template>
  <div>
    <v-list class="custom-list mt-4" v-if="loadingFriends === 0">
      <transition-group
        enter-active-class="animated bounceInLeft"
        move-class="move"
        leave-active-class="animated bounceOutRight"
        appear
      >
        <v-list-tile
          avatar
          class="mt-1 hover-pointer"
          v-for="(friend, index) in friends"
          :class="{ 'primary darken-1': index === selectedFriendIndex }"
          :key="friend.friendDetails._id"
          @click="setSelectedFriendIndex(index)"
        >
          <!-- Profile picture -->
          <v-list-tile-avatar>
            <v-avatar size="50">
              <img :src="defaultUserIcon">
            </v-avatar>
          </v-list-tile-avatar>

          <!-- Main content -->
          <v-list-tile-content>
            <v-list-tile-title
              class="white--text"
            >{{ friend.friendDetails.firstName }} {{ friend.friendDetails.lastName }}</v-list-tile-title>
          </v-list-tile-content>

          <!-- Number of messages left chips -->
          <v-list-tile-content v-if="friend.new === true">
            <v-chip color="green" text-color="white">new</v-chip>
          </v-list-tile-content>

          <v-list-tile-content v-else>
            <v-chip
              color="warning"
              text-color="white"
              v-if="friend.unreadMessages > 0"
            >{{ friend.unreadMessages }} unread</v-chip>
          </v-list-tile-content>
        </v-list-tile>
      </transition-group>
    </v-list>
    <v-layout v-else column align-center>
      <v-flex class="mt-5">
        <v-btn class="error--text custom-loader" flat loading></v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters('friendsModule', {
      loadingFriends: 'getLoadingFriends',
      selectedFriendIndex: 'getSelectedFriendIndex',
      friends: 'getFriends'
    }),
    defaultUserIcon () {
      return require('@/assets/defaultuser.png')
    }
  },
  methods: {
    ...mapActions('friendsModule', {
      getFriends: 'getFriends'
    }),
    ...mapMutations('friendsModule', {
      setSelectedFriendIndex: 'setSelectedFriendIndex'
    })
  },
  created () {
    this.getFriends()
  }
}
</script>

<style scoped>
.move {
  transition: all 0.5s ease;
}

.custom-loader {
  transform: scale(1.5);
}

.hover-pointer:hover {
  cursor: pointer;
}
</style>
