<template>
  <v-toolbar-items class="hidden-sm-and-down">
    <v-btn flat color="grey" v-for="link in links" :key="link.route" router :to="link.route">
      <v-icon left>{{ link.icon }}</v-icon>
      <span>{{ link.text }}</span>
    </v-btn>
  </v-toolbar-items>
</template>

<script>
export default {
  props: {
    links: Array
  }
}
</script>
