<template>
  <nav>
    <v-toolbar app flat>
      <!-- Menu Icon -->
      <v-toolbar-side-icon v-if="isAuthorized" class="grey--text" @click="drawer = !drawer"/>

      <!-- Title -->
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Boom</span>
        <span>Net</span>
      </v-toolbar-title>

      <!-- Spacer -->
      <v-spacer></v-spacer>

      <!-- Toolbar for desktop not auth links -->
      <navbar-links :links="links" v-if="!isAuthorized"/>

      <!-- Toolbar for desktop auth links -->
      <v-toolbar-items v-if="isAuthorized">
        <navbar-drop-down custom-class="hidden-xs-and-down" :links="authLinks"/>
        <v-btn flat color="grey" @click="logout">
          <span>Sign Out</span>
          <v-icon right>exit_to_app</v-icon>
        </v-btn>
      </v-toolbar-items>

      <!-- Toolbar for mobile not auth links -->
      <navbar-drop-down custom-class="hidden-md-and-up" :links="links" v-if="!isAuthorized"/>
    </v-toolbar>

    <!-- Navigation drawer only for authorized users -->
    <navigation-drawer
      :first-name="name.firstName"
      :last-name="name.lastName"
      :drawer="drawer"
      :show-hide-drawer="showHideDrawer"
      v-if="isAuthorized"
    />
  </nav>
</template>

<script>
import NavbarLinks from './NavbarLinks'
import NavbarDropDown from './NavbarDropDown'
import NavigationDrawer from './NavigationDrawer'
import { mapGetters, mapActions } from 'vuex'

export default {
  data () {
    return {
      drawer: true,
      links: [
        { text: 'login', route: '/login', icon: 'lock_open' },
        { text: 'signup', route: '/signup', icon: 'person' }
      ],
      authLinks: [{ text: 'messenger', route: '/', icon: 'messenger' }]
    }
  },
  computed: {
    ...mapGetters('authModule', {
      isAuthorized: 'getIsAuthorized',
      name: 'getName'
    })
  },
  components: {
    NavbarLinks,
    NavbarDropDown,
    NavigationDrawer
  },
  methods: {
    ...mapActions('authModule', {
      logout: 'logout'
    }),
    showHideDrawer (event) {
      this.drawer = event
    }
  }
}
</script>
