<template>
  <v-toolbar-items :class="customClass">
    <v-menu v-model="menu" offset-y>
      <v-btn slot="activator" flat color="grey">
        <v-icon left>expand_more</v-icon>
        <span class="pr-2">Pages</span>
      </v-btn>
      <v-list flat>
        <v-list-tile v-for="(link, index) in links" :key="index" router :to="link.route">
          <v-list-tile-title>
            <v-icon left>{{ link.icon }}</v-icon>
            <span class="text-uppercase caption">{{ link.text }}</span>
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar-items>
</template>

<script>
export default {
  data () {
    return {
      menu: false
    }
  },
  props: {
    customClass: String,
    links: Array
  },
  created () {
    window.addEventListener('scroll', () => {
      this.menu = false
    })
  }
}
</script>
