<template>
  <v-navigation-drawer app :value="drawer" @input="showHideDrawer" class="primary">
    <v-layout column align-center>
      <!-- Profile pic -->
      <v-flex class="mt-5">
        <v-responsive class="text-xs-center">
          <v-avatar size="200">
            <img :src="defaultUserIcon">
          </v-avatar>
        </v-responsive>
        <!-- User name -->
        <p class="white--text subheading mt-1 mb-4 text-xs-center">{{ firstName }} {{ lastName }}</p>
      </v-flex>

      <!-- Add friend button -->
      <v-flex class="mt-4 mb-3">
        <popup class="mt-4 mb-3"/>
      </v-flex>
    </v-layout>

    <!-- Friend List -->
    <friend-list/>
  </v-navigation-drawer>
</template>

<script>
import FriendList from './FriendList'
import Popup from './Popup'

export default {
  props: {
    firstName: String,
    lastName: String,
    drawer: Boolean,
    showHideDrawer: Function
  },
  computed: {
    defaultUserIcon () {
      return require('@/assets/defaultuser.png')
    }
  },
  components: {
    FriendList,
    Popup
  }
}
</script>

<style scoped>
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
