<template>
  <v-dialog max-width="600px">
    <v-btn flat slot="activator" class="success">Add new friend</v-btn>
    <v-card>
      <v-card-title>
        <h2 class="my-3">Add New Friend</h2>
        <v-btn v-if="getLoadingSearch > 0" color="primary" flat loading></v-btn>
      </v-card-title>
      <v-card-text>
        <v-form class="px-3" ref="form">
          <!-- Name or username to search -->
          <v-text-field
            v-model="searchValue"
            label="Search by name or username"
            prepend-icon="search"
          />
        </v-form>
        <!-- Search Result -->
        <search-result :search-value="searchValue"/>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import SearchResult from './SearchResult.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  data () {
    return {
      searchValue: ''
    }
  },
  computed: {
    ...mapGetters('friendsModule', {
      getLoadingSearch: 'getLoadingSearch'
    })
  },
  components: {
    SearchResult
  },
  methods: {
    ...mapActions('friendsModule', {
      searchFriend: 'searchFriend'
    })
  },
  watch: {
    searchValue (value) {
      this.searchFriend(value)
    }
  }
}
</script>

<style scoped>
.v-card {
  overflow-x: hidden;
}
</style>
