<template>
  <v-list class="custom-list mt-4">
    <transition-group
      enter-active-class="animated bounceInLeft"
      leave-active-class="animated bounceOutRight"
      appear
    >
      <v-list-tile avatar class="mt-1" v-for="user in filteredSearch" :key="user._id">
        <!-- Profile picture -->
        <v-list-tile-avatar>
          <v-avatar size="50">
            <img :src="defaultUserIcon">
          </v-avatar>
        </v-list-tile-avatar>

        <!-- Main content -->
        <v-list-tile-content>
          <v-list-tile-title class="grey--text">{{ user.firstName }} {{ user.lastName }}</v-list-tile-title>
        </v-list-tile-content>

        <!-- Add friend button -->
        <v-list-tile-content class="custom-right" v-if="user.type === 'non-friend'">
          <v-btn
            flat
            :loading="sendingToIds.indexOf(user._id) !== -1"
            class="primary lighten-3 grey--text text--darken-3"
            @click="sendRequest(user._id)"
          >Send Request</v-btn>
        </v-list-tile-content>

        <!-- Already friend button -->
        <v-list-tile-content class="custom-right" v-if="user.type === 'friend'">
          <v-btn
            flat
            :loading="sendingToIds.indexOf(user._id) !== -1"
            class="green lighten-3 grey--text text--darken-3"
          >Chat</v-btn>
        </v-list-tile-content>

        <!-- Accept request button -->
        <v-list-tile-content
          class="custom-right"
          v-if="user.type === 'waiting' && (!(user._id in acceptOrReject) || acceptOrReject[user._id] ==='accept')"
        >
          <v-btn
            flat
            :loading="sendingToIds.indexOf(user._id) !== -1"
            @click="acceptFriendRequestLocal(user._id)"
            class="success lighten-3 grey--text text--darken-3"
          >Accept Request</v-btn>
        </v-list-tile-content>

        <!-- Reject request button -->
        <v-list-tile-content
          class="custom-right"
          v-if="user.type === 'waiting' && (!(user._id in acceptOrReject) || acceptOrReject[user._id] ==='reject')"
        >
          <v-btn
            flat
            :loading="sendingToIds.indexOf(user._id) !== -1"
            class="error lighten-3 grey--text text--darken-3"
          >Reject Request</v-btn>
        </v-list-tile-content>

        <!-- Already sent request button -->
        <v-list-tile-content class="custom-right" v-if="user.type === 'wait'">
          <v-btn
            :loading="sendingToIds.indexOf(user._id) !== -1"
            flat
            disabled
            class="warning lighten-3 grey--text text--darken-3"
          >Request Sent</v-btn>
        </v-list-tile-content>
      </v-list-tile>
    </transition-group>
  </v-list>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  props: {
    searchValue: String
  },
  computed: {
    ...mapGetters('friendsModule', {
      getSearchResults: 'getSearchResults',
      sendingToIds: 'getSendingToIds',
      acceptOrReject: 'getAcceptOrReject'
    }),
    ...mapGetters('authModule', {
      userId: 'getUserId'
    }),
    filteredSearch () {
      const searchValue = this.searchValue.trim()
      return this.getSearchResults.filter(user => {
        return (
          (user.firstName
            .toLowerCase()
            .search(this.escape(searchValue.toLowerCase())) !== -1 ||
            user.lastName
              .toLowerCase()
              .search(this.escape(searchValue.toLowerCase())) !== -1 ||
            user.username
              .toLowerCase()
              .search(this.escape(searchValue.toLowerCase())) !== -1) &&
          user._id !== this.userId
        )
      })
    },
    defaultUserIcon () {
      return require('@/assets/defaultuser.png')
    }
  },
  methods: {
    ...mapActions('friendsModule', {
      sendRequest: 'sendRequest',
      getPendingRequests: 'getPendingRequests',
      acceptFriendRequest: 'acceptFriendRequest'
    }),
    escape (s) {
      return s.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&')
    },
    acceptFriendRequestLocal (id) {
      this.acceptFriendRequest(id)
    }
  },
  created () {
    this.getPendingRequests()
  }
}
</script>

<style scoped>
.custom-right {
  display: flex;
  align-items: flex-end;
}
</style>
