<template>
  <v-menu
    v-model="menu"
    top
    left
    offset-x
    :close-on-content-click="false"
    height="400"
    :nudge-top="65"
  >
    <v-btn fab flat class="ma-0 grey lighten-4" slot="activator">
      <v-icon>insert_emoticon</v-icon>
    </v-btn>
    <v-card height="400">
      <v-card-title class="white" primary-title>
        <ul class="emoji-container">
          <li
            v-for="(emoji, index) in allEmojis"
            :key="index"
            @click="$emit('emojiAdded', emoji)"
          >{{emoji}}</li>
        </ul>
      </v-card-title>
    </v-card>
  </v-menu>
</template>

<script>
import { allEmojis } from './allEmojis.json'

export default {
  data () {
    return {
      menu: false,
      allEmojis: allEmojis
    }
  },
  created () {
    window.addEventListener('scroll', () => {
      this.menu = false
    })
  }
}
</script>

<style scoped>
.emoji-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  background-color: white;
}

.emoji-container li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  font-size: 23px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
