<template>
  <v-footer height="auto" app inset class="grey lighten-4">
    <v-layout row>
      <!-- Input Field -->
      <v-flex class="pt-2 pl-4">
        <v-text-field
          v-model="message"
          placeholder="Message"
          single-line
          prepend-icon="message"
          outline
          @keydown.enter="sendMessageLocal"
        />
      </v-flex>
      <v-flex class="pt-2 pl-2" shrink>
        <emoticons-vue @emojiAdded="addEmoji"/>
      </v-flex>
      <!-- Send Button -->
      <v-flex class="pt-2 pl-2 pr-4" shrink>
        <v-btn fab flat class="ma-0 primary" @click="sendMessageLocal">
          <v-icon>send</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
import EmoticonsVue from './Emoticons.vue'
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      message: ''
    }
  },
  methods: {
    ...mapActions('messagesModule', {
      sendMessage: 'sendMessage'
    }),
    sendMessageLocal () {
      // Step 1: Format message
      const message =
        this.message.trim().length > 0 ? this.message.trim() : false

      // Step 2: Send message
      if (message) {
        this.sendMessage(message)
      }

      // Step 3: Clear the message
      this.message = ''
    },
    addEmoji (value) {
      this.message += value
    }
  },
  components: {
    EmoticonsVue
  }
}
</script>
