<template>
  <nav>
    <v-toolbar app flat>
      <v-toolbar-title class="text-uppercase grey--text">
        <span
          class="font-weight-light subheading"
        >{{ currentSelectedFriend.friendDetails.firstName + ' ' + currentSelectedFriend.friendDetails.lastName }}</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <video-vue
        v-if="currentSelectedFriend"
        :initiator="true"
        :friend-id="currentSelectedFriend.friendDetails._id"
      />

      <v-btn small outline fab color="blue" class="ml-2">
        <v-icon>phone</v-icon>
      </v-btn>
    </v-toolbar>
  </nav>
</template>

<script>
import VideoVue from './Video.vue'

export default {
  props: {
    currentSelectedFriend: Object
  },
  components: {
    VideoVue
  }
}
</script>

<style scoped>
.v-toolbar {
  top: 48px;
  box-shadow: 0 5px 6px -6px lightgray !important;
}
</style>
