<template>
  <div
    class="main-chat-area mt-5"
    @touchstart="scrollBehaviour"
    @touchendt="scrollBehaviour"
    @touchmove="scrollBehaviour"
  >
    <!-- Header -->
    <header-vue v-if="currentSelectedFriend" :current-selected-friend="currentSelectedFriend" />

    <div
      v-if="currentSelectedFriend && currentSelectedFriend.friendDetails._id in loadingMessage && loadingMessage[currentSelectedFriend.friendDetails._id]"
    >
      <v-layout row text-xs-center>
        <v-flex xs12 class="center-custom">
          <v-btn flat loading color="secondary"></v-btn>
        </v-flex>
      </v-layout>
    </div>
    <div v-if="currentSelectedFriendMessageLoaded">
      <div v-for="message in messagesOfCurrentUser" :key="message._id">
        <v-layout
          row
          align-center
          class="mt-4"
          v-if="message.From === currentSelectedFriend.friendDetails._id"
        >
          <transition-group
            enter-active-class="animated zoomIn"
            leave-active-class="animated zoomOut"
            appear
            mode="out-in"
            class="flex-span"
          >
            <v-flex shrink key="1">
              <v-avatar size="70" class="mt-1">
                <img :src="defaultUserIcon" />
              </v-avatar>
            </v-flex>
            <v-flex shrink class="caption secondary--text" key="2">
              <span>{{currentSelectedFriend.friendDetails.firstName}} {{currentSelectedFriend.friendDetails.lastName}}</span>
              <v-card flat class="secondary lighten-4 grey--text text--darken-2 rounded-card">
                <v-card-title class="text-align-center">{{message.content}}</v-card-title>
              </v-card>
            </v-flex>
          </transition-group>
        </v-layout>

        <v-layout row align-center reverse class="mt-4" v-else>
          <!-- Loading -->
          <transition-group
            v-if="!('animate' in message) || !isNaN(message._id)"
            enter-active-class="animated zoomIn"
            appear
            mode="out-in"
            class="flex-span"
          >
            <v-flex shrink key="0" v-if="!isNaN(message._id)">
              <v-avatar size="70" class="mt-1 mr-0">
                <v-btn flat loading color="grey"></v-btn>
              </v-avatar>
            </v-flex>
            <v-flex shrink key="1">
              <v-avatar size="70" class="mt-1">
                <img :src="defaultUserIcon" />
              </v-avatar>
            </v-flex>
            <v-flex shrink class="caption primary--text text-xs-right" key="2">
              <span>{{ name.firstName }} {{ name.lastName }}</span>
              <v-card flat class="primary lighten-4 grey--text text--darken-2 rounded-card">
                <v-card-title class="text-align-center text-xs-left">{{message.content}}</v-card-title>
              </v-card>
            </v-flex>
          </transition-group>

          <!-- Loaded -->
          <transition-group
            v-else
            leave-active-class="animated zoomOut"
            mode="out-in"
            class="flex-span"
          >
            <v-flex shrink key="1">
              <v-avatar size="70" class="mt-1">
                <img :src="defaultUserIcon" />
              </v-avatar>
            </v-flex>
            <v-flex shrink class="caption primary--text text-xs-right" key="2">
              <span>{{ name.firstName }} {{ name.lastName }}</span>
              <v-card flat class="primary lighten-4 grey--text text--darken-2 rounded-card">
                <v-card-title class="text-align-center text-xs-left">{{message.content}}</v-card-title>
              </v-card>
            </v-flex>
          </transition-group>
        </v-layout>
      </div>
    </div>
    <!-- Go down button -->
    <v-btn
      fab
      flat
      bottom
      floating
      fixed
      right
      class="grey lighten-4 custom-before"
      style="bottom: 100px; right: 40px;"
      v-if="showGoDown"
      @click="goToBottom"
      :data-new-messages="unreadMessagesOfCurrentUser"
    >
      <v-icon>keyboard_arrow_down</v-icon>
    </v-btn>
    <popup-vue />
  </div>
</template>

<script>
import HeaderVue from './Header'
import PopupVue from './Popup'
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  data () {
    return {
      end: true,
      scrollY: 0,
      prevHeight: 0,
      showGoDown: false
    }
  },
  computed: {
    ...mapGetters('authModule', {
      name: 'getName'
    }),
    ...mapGetters('friendsModule', {
      currentSelectedFriend: 'getCurrentSelectedFriend'
    }),
    ...mapGetters('messagesModule', {
      allMessages: 'getMessages',
      loadedMessagesOfUsers: 'getLoadedMessagesOfUsers',
      loadingMessage: 'getLoadingMessage'
    }),
    currentSelectedFriendMessageLoaded () {
      if (this.currentSelectedFriend) {
        return (
          this.loadedMessagesOfUsers.indexOf(
            this.currentSelectedFriend.friendDetails._id
          ) !== -1
        )
      } else {
        return false
      }
    },
    loadingMessageOfCurrentUser () {
      if (
        this.currentSelectedFriend &&
        this.currentSelectedFriend.friendDetails._id in this.loadingMessage
      ) {
        return this.loadingMessage[
          this.currentSelectedFriend.friendDetails._id
        ]
      } else {
        return false
      }
    },
    messagesOfCurrentUser () {
      if (
        this.currentSelectedFriend &&
        this.currentSelectedFriend.friendDetails._id in this.allMessages
      ) {
        return this.allMessages[this.currentSelectedFriend.friendDetails._id]
      } else {
        return false
      }
    },
    unreadMessagesOfCurrentUser () {
      if (
        this.currentSelectedFriend &&
        parseInt(this.currentSelectedFriend.unreadMessages) !== 0
      ) {
        return this.currentSelectedFriend.unreadMessages
      } else {
        return ''
      }
    },
    defaultUserIcon () {
      return require('@/assets/defaultuser.png')
    }
  },
  methods: {
    ...mapMutations('friendsModule', {
      addShowNotification: 'addShowNotification'
    }),
    ...mapActions('messagesModule', {
      getMessages: 'getMessages',
      readMessage: 'readMessage'
    }),
    scrollBehaviour () {
      let timeOut = false

      if (window.scrollY >= this.scrollY - 100) {
        this.end = true
        this.readMessage()
        this.showGoDown = false
      } else {
        this.end = false
        this.showGoDown = true
      }

      if (
        window.scrollY === 0 &&
        !(
          this.currentSelectedFriend &&
          this.currentSelectedFriend.friendDetails._id in this.loadingMessage &&
          this.loadingMessage[this.currentSelectedFriend.friendDetails._id]
        )
      ) {
        this.prevHeight = document.body.scrollHeight
        this.getMessages(true)
      }
    },
    goToBottom () {
      window.scroll({
        top: document.body.scrollHeight + 100,
        left: 0,
        behavior: 'smooth'
      })
    }
  },
  watch: {
    currentSelectedFriend (value) {
      if (value) {
        this.getMessages()
      }
    }
  },
  updated () {
    if (this.currentSelectedFriend) {
      this.addShowNotification(this.currentSelectedFriend.friendDetails._id)
      if (this.end) {
        this.$nextTick(() => {
          this.goToBottom()
        })
      }

      if (document.body.scrollHeight <= window.innerHeight) {
        this.readMessage()
      }
      this.scrollY =
        Math.max(
          document.body.scrollHeight,
          document.body.offsetHeight,
          document.documentElement.clientHeight,
          document.documentElement.scrollHeight,
          document.documentElement.offsetHeight
        ) - window.innerHeight
    }
    if (
      this.prevHeight !== 0 &&
      !(
        this.currentSelectedFriend &&
        this.currentSelectedFriend.friendDetails._id in this.loadingMessage &&
        this.loadingMessage[this.currentSelectedFriend.friendDetails._id]
      )
    ) {
      window.scrollTo(0, document.body.scrollHeight - this.prevHeight - 50)
      this.prevHeight = 0
    }
  },
  mounted () {
    window.addEventListener('scroll', this.scrollBehaviour)
  },
  components: {
    HeaderVue,
    PopupVue
  }
}
</script>

<style scoped>
.custom-before::before {
  content: attr(data-new-messages);
  position: absolute;
  background-color: transparent !important;
  z-index: -1 !important;
  top: 0em;
  left: 1em;
  margin-top: -1.2em;
  color: #9652ff !important;
  font-weight: bold;
  opacity: 1;
}

.custom-before:hover {
  background-color: lightgray !important;
}

.custom-before:hover::before {
  background-color: transparent !important;
}

.v-footer {
  z-index: 99;
}

.zoomIn {
  animation-duration: 0.5s;
}

.zoomOut {
  animation-duration: 0.5s;
}

.rounded-card {
  border-radius: 10px;
}

span.flex-span {
  display: flex;
}
</style>
