<template>
  <v-snackbar
    @click="setSelectedFriendIdLocal"
    v-model="showNotification"
    :right="true"
    :timeout="6000"
    :bottom="true"
    :vertical="true"
  >
    <span class="text-uppercase">{{ notificationMessage }}</span>
    <v-btn flat @click="showNotification = false">Close</v-btn>
  </v-snackbar>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  data () {
    return {
      showNotification: false
    }
  },
  computed: {
    ...mapGetters('friendsModule', {
      notification: 'getNotification'
    }),
    notificationId () {
      return this.notification.id
    },
    notificationMessage () {
      return this.notification.message
    }
  },
  methods: {
    ...mapMutations('friendsModule', {
      setNotification: 'setNotification',
      setSelectedFriendId: 'setSelectedFriendId'
    }),
    setSelectedFriendIdLocal () {
      this.setSelectedFriendId(this.notificationId)
      this.showNotification = false
    }
  },
  watch: {
    notificationMessage (value) {
      if (value !== '') {
        this.showNotification = true
      }
    },
    showNotification (value) {
      if (!value) {
        this.setNotification({
          id: '',
          message: ''
        })
      }
    }
  }
}
</script>
