<template>
  <v-dialog max-width="300px" v-model="showNotification">
    <v-card class="primary" dark>
      <v-card-title class="justify-center">
        <v-layout column wrap align-center>
          <v-avatar class="center" size="100">
            <img :src="defaultUserIcon">
          </v-avatar>
          <h2
            class="my-3 font-weight-light subheading text-uppercase"
            v-if="currentFriend && 'friendDetails' in currentFriend"
          >{{currentFriend.friendDetails.firstName}} {{currentFriend.friendDetails.lastName}}</h2>
        </v-layout>
      </v-card-title>
      <v-card-actions class="justify-center">
        <v-layout row wrap justify-space-around>
          <video-vue @callend="callEnded" v-if="senderID" :initiator="false" :friend-id="senderID"/>
          <v-btn small outline fab color="red">
            <v-icon>phone</v-icon>
          </v-btn>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import VideoVue from './Video.vue'

export default {
  data () {
    return {
      showNotification: false
    }
  },
  computed: {
    ...mapGetters('videoModule', {
      receivingCall: 'getReceivingCall',
      senderID: 'getSenderID'
    }),
    ...mapGetters('friendsModule', {
      friends: 'getFriends'
    }),
    defaultUserIcon () {
      return require('@/assets/defaultuser.png')
    },
    currentFriend () {
      if (this.friends.length > 0) {
        return this.friends.find(friend => {
          return friend.friendDetails._id === this.senderID
        })
      } else {
        return false
      }
    }
  },
  methods: {
    callEnded () {
      this.showNotification = false
    }
  },
  watch: {
    receivingCall (value) {
      if (value) {
        this.showNotification = true
      }
    },
    showNotification (value) {
      if (!value) {
        // End call
      }
    }
  },
  components: {
    VideoVue
  }
}
</script>
