<template>
  <v-dialog fullscreen hide-overlay v-model="showVideo">
    <v-btn small slot="activator" outline fab color="teal" @click="startCall">
      <v-icon>videocam</v-icon>
    </v-btn>
    <v-card dark flat heigth="100%">
      <!-- Main video area -->
      <v-card-title primary-title width="100%">
        <div class="my-video">
          <video class="my-video" ref="myVideo" autoplay muted playsinline></video>
        </div>
        <div class="other-video">
          <video class="other-video" ref="otherVideo" autoplay muted playsinline></video>
          <audio ref="otherAudio"></audio>
        </div>
      </v-card-title>

      <!-- Button -->
      <v-card-actions class="justify-center">
        <v-btn large outline bottom floating fixed center fab color="red" @click="endCall">
          <v-icon>phone</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
const Peer = require("simple-peer");
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
  props: {
    initiator: Boolean,
    friendId: String
  },
  data() {
    return {
      showVideo: false,
      stream: false,
      myVideo: false,
      otherVideo: false,
      otherAudio: false,
      peer: false,
      otherUserEndedCall: false
    };
  },
  computed: {
    ...mapGetters("videoModule", {
      receivingCall: "getReceivingCall",
      senderConnection: "getSenderConnection"
    })
  },
  methods: {
    ...mapMutations("friendsModule", {
      setSelectedFriendId: "setSelectedFriendId"
    }),
    ...mapMutations("videoModule", {
      clear: "clear"
    }),
    ...mapActions("videoModule", {
      sendVideoCallRequest: "sendVideoCallRequest",
      stopVideoCall: "stopVideoCall"
    }),
    endCall() {
      // If connection is open send end call request
      try {
        this.peer.send(JSON.stringify({ action: "END_CALL" }));
      } catch {
        // DO NOTHING
      }

      // Destroy the peer if possible
      try {
        this.peer.destroy();
      } catch {
        // DO NOTHING
      }

      //  Set peer as false
      this.peer = false;

      // Stop the video playing
      if (this.stream) {
        this.stream.getTracks().forEach(track => {
          track.stop();
        });
        this.stream = false;
      }
      this.showVideo = false;
      if (this.myVideo) {
        this.myVideo.srcObject = null;
      }
      if (this.otherVideo) {
        this.otherVideo.srcObject = null;
      }
    },
    startCall() {
      //  Set the current friend
      this.setSelectedFriendId(this.friendId);

      navigator.mediaDevices
        .getUserMedia({
          video: {
            facingMode: "user"
          },
          audio: true
        })
        .then(stream => {
          // Show my video
          const videoStream = new MediaStream(stream.getVideoTracks());
          this.myVideo = this.$refs.myVideo;
          this.otherVideo = this.$refs.otherVideo;
          this.otherAudio = this.$refs.otherAudio;
          this.stream = stream;
          this.myVideo.srcObject = videoStream;
          this.myVideo.play();

          this.peer = new Peer({
            initiator: this.initiator,
            trickle: false,
            objectMode: true,
            stream: stream
          });

          // Initiator peer
          this.peer.on("signal", connection => {
            this.sendVideoCallRequest({
              connection,
              initiator: this.initiator
            });
          });

          // Signal peer if not initiator
          if (!this.initiator) {
            if (this.senderConnection) {
              this.peer.signal(this.senderConnection);
            } else {
              // End call
            }
          }

          // Receive stream
          this.peer.on("stream", otherStream => {
            const otherVideoStream = new MediaStream(
              otherStream.getVideoTracks()
            );
            this.otherVideo.srcObject = otherVideoStream;
            this.otherVideo.onloadedmetadata = e => {
              this.otherVideo.play();
            };

            const otherAudioStream = new MediaStream(
              otherStream.getAudioTracks()
            );
            this.otherAudio.srcObject = otherAudioStream;
            this.otherAudio.onloadedmetadata = e => {
              this.otherAudio.play();
            };
          });

          // Listening to different messages directly from the other peer
          this.peer.on("data", data => {
            data = JSON.parse(data);
            switch (data.action) {
              case "END_CALL":
                this.otherUserEndedCall = true;
                this.endCall();
                break;

              default:
                break;
            }
          });
        })
        .catch(error => {
          console.log("An error occured", error);
        });
    }
  },
  watch: {
    showVideo(value) {
      if (!value && !this.otherUserEndedCall) {
        // Stop video request
        this.stopVideoCall();
      }
      if (!value) {
        // Emit call ended
        this.$emit("callend");
        this.clear();
      }
    },
    senderConnection(value) {
      if (value && this.showVideo) {
        this.peer.signal(value);
      }
    }
  }
};
</script>

<style scoped>
video.my-video {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  z-index: 100;
}

video.other-video {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.v-btn {
  z-index: 100;
}
</style>


