<template>
  <v-app class="grey lighten-4">
    <!-- Navbar -->
    <navbar v-if="isVerified" />

    <!-- Main content area -->
    <v-content class="mx-4 mb-4" v-if="isVerified">
      <transition
        enter-active-class="animated zoomIn"
        leave-active-class="animated zoomOut"
        appear
        mode="out-in"
      >
        <router-view />
      </transition>
    </v-content>

    <!-- Loading screen when nothing else is displayed -->
    <v-content v-else>
      <v-layout column justify-center>
        <div class="center-custom">
          <v-btn class="grow-custom" flat loading color="primary"></v-btn>
        </div>
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
import 'animate.css'
import Navbar from '@/components/navbar/Navbar'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
    Navbar
  },
  computed: {
    ...mapGetters('authModule', {
      isVerified: 'getIsVerified'
    })
  }
}
</script>

<style scoped>
.zoomIn {
  animation-duration: 0.5s;
}

.zoomOut {
  animation-duration: 0.5s;
}

.center-custom {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grow-custom {
  transform: scale(2);
}
</style>
